@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

/** Começo Header  */

header {
  display: flex;
  justify-content: space-around;
  padding: 2rem;

  overflow-x: hidden;
  align-items: center;
}

.logo {
  text-align: center;

  width: 33%;
}

nav {
  width: 77%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

nav ul li {
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 1.1rem;
}

nav ul li:hover {
  border-bottom: 1px solid #005aaa;
}

.wppHeader {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #005aaa;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #005aaa;
  transition: 0.3s;
}

.wppHeader:hover {
  background-color: #fff;
  color: #005aaa;
}

.navMobile {
  display: none;
}

.menuMobile {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  top: 0;
  animation: 1s ease-in;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem;
  z-index: 999;
}

.hidden {
  display: none;
}

.show {
  display: box;
}

.containerMenuMobile {
  display: flex;
  flex-direction: column;
}

.closeMobile {
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: right;
}

.listMobile {
  padding: 1rem;
  list-style: none;
}

.listMobile li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.wppHeaderMobile {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #005aaa;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #005aaa;
  transition: 0.3s;
  text-align: center;
}

.wppHeaderMobile:hover {
  background-color: #fff;
  color: #005aaa;
}

@media only screen and (max-width: 1440px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
    flex-direction: flex;
  }

  .logo {
    text-align: center;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
  }

  .logo img {
    width: 80%;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  nav {
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-direction: row;
  }

  .navMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    text-align: center;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
  }

  .logo img {
    width: 90%;
  }

  .navMobile img {
    width: 90%;
  }
}

/*! Fim Header  */

/** Começo Hero */

.hero {
  background-color: #4c88b9;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.titleHero {
  color: #fff;
  font-size: 2.7rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
}

.textHero {
  color: #dddddd;
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 1.3rem;
}

.containerButtonHero {
  text-align: center;
  margin-top: 2rem;
}

.containerButtonHero button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #fdff04;
  color: #000000;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #4c88b9;
  transition: 0.3s;
  font-size: 1.1rem;
}

.containerButtonHero button:hover {
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.333);
}

.containerTextHero {
  width: 50%;
}

.containerImageHero {
  width: 50%;
  text-align: center;
}

.containerImageHero img {
  height: 30rem;
}

@media only screen and (max-width: 1300px) {
  .containerImageHero img {
    height: 20rem;
  }
}

@media only screen and (max-width: 900px) {
  .titleHero {
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
  }

  .textHero {
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 1.3rem;
  }

  .hero {
    flex-direction: column;
  }

  .containerTextHero {
    width: 100%;
  }

  .containerImageHero {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .containerImageHero img {
    height: 15rem;
  }
}

/*! Fim Hero  */

/** Começo clientes */
.clientes {
  padding-top: 4rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.titleClientes {
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #005aaa;
}

.containerMarquee {
  margin-top: 2rem;
}

.card {
  text-align: center;
}

.textClientes {
  width: 50vw;
  margin: auto;
  padding-top: 2rem;
}

.textClientes p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.textClientes ul {
  font-size: 1.4rem;
  list-style: none;
}

.textClientes li::before {
  content: "✔";
  margin-right: 0.3rem;
  color: #20a200;
}

@media only screen and (max-width: 900px) {
  .textClientes {
    width: 90vw;
    margin: auto;
    padding-top: 2rem;
  }

  .textClientes ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .textClientes p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: justify;
  }

  .textClientes li {
    font-size: 1.3rem;
  }
}

/*! Fim clientes  */

/** Começo servicos */

.servicos {
  padding-top: 4rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.titleServicos {
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #005aaa;
}

.textServicos {
  width: 50vw;
  margin: auto;
  padding-top: 2rem;
}

.textServicos p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.textServicos ul {
  font-size: 1.4rem;
  list-style: none;
}

.textServicos li::before {
  content: "✔";
  margin-right: 0.3rem;
  color: #20a200;
}

.vejaServicos {
  color: #4c88b9;
  cursor: pointer;
  font-size: 1.3rem;
  text-decoration: underline;
  margin-top: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .textServicos {
    width: 90vw;
    margin: auto;
    padding-top: 2rem;
  }

  .textServicos ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .textServicos p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: justify;
  }

  .textServicos li {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 900px) {
  .textServicos {
    width: 90vw;
    margin: auto;
    padding-top: 2rem;
  }
  .textServicos ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .servicos li {
    text-align: left;
    font-size: 1.3rem;
  }
}

/*! Fim servicos  */

.containerMidleButton {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.containerMidleButton button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #005aaa;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid #005aaa;
  transition: 0.3s;
}

.containerMidleButton button:hover {
  background-color: #fff;
  color: #005aaa;
}

/** Começo Perguntas */

.perguntas {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-bottom: 0em;
}

.perguntas h3 {
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #005aaa;
  font-weight: lighter;
}

.containerPerguntas {
  padding: 2rem;
  width: 70vw;
}

.titlePergunta {
  font-size: 1.5em;
  font-weight: bold;

  width: 90%;
}

.arrow {
  transition: 0.5s;

  width: 10%;
  text-align: center;
}

.wrapperPergunta {
  border-bottom: 1px solid #111827;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.pergunta {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hiddenResposta {
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 1.3em;
}

.toggleHiddenResposta {
  display: none;
}

.rotated {
  transform: rotate(180deg);
}

.disrotated {
  transform: rotate(0deg);
}


@media only screen and (max-width: 900px) {
  .containerPerguntas {
    padding: 2rem;
    width: 100vw;
  }

  .titlePergunta {
    font-size: 1.4em;
    font-weight: bold;
  
    width: 90%;
  }
}

/*! Fim perguntas  */

/** Começo Footer  */

footer {
  background-color: #005aaa;
  padding: 2rem;
  overflow-x: hidden;
}

.containerTopFooter {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;
  margin-bottom: 2rem;
}

.containerTopFooter div {
  cursor: pointer;
}

.containerMidleFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: #fff;
}

.containerBottomFooter {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 3rem;
  color: #fff;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.telefone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.socialIcons img{
  width: 30px;
  height: 30px;
}

.cep{
  font-size: 1.2rem;
}


.addres {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.addres img {
  height: 1.7rem;
}

.containerMap {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-maps {
  border-radius: 10px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.322);
}

@media only screen and (max-width: 900px) {
  .containerMidleFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    gap: 3rem;
    color: #fff;
  }
}

/*! Fim Footer  */
