@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
 
}

/** Começo Header  */

header {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  position: relative;
  overflow-x: hidden;
}

.logo {
  text-align: center;
  padding-bottom: 1rem;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

nav ul li {
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #fff;
  padding-bottom: 1rem;
}

nav ul li:hover {
  border-bottom: 1px solid #005aaa;
}

.wppHeader {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #005aaa;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #005aaa;
  transition: 0.3s;
}

.wppHeader:hover {
  background-color: #fff;
  color: #005aaa;
}

.navMobile {
  display: none;
}

.menuMobile {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  top: 0;
  animation: 1s ease-in;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem;
  z-index: 999;
}

.hidden {
  display: none;
}

.show {
  display: box;
}

.containerMenuMobile {
  display: flex;
  flex-direction: column;
}

.closeMobile {
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: right;
}

.listMobile {
  padding: 1rem;
  list-style: none;
}

.listMobile li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.wppHeaderMobile {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #005aaa;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #005aaa;
  transition: 0.3s;
  text-align: center;
}

.wppHeaderMobile:hover {
  background-color: #fff;
  color: #005aaa;
}

@media only screen and (max-width: 1440px) {
  header {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-direction: column;
  }

  .logo {
    text-align: center;
    padding-bottom: 0rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-direction: row;
  }

  .navMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    text-align: center;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo img {
    width: 90%;
  }

  .navMobile img {
    width: 90%;
  }
}

/*! Fim Header  */

/** Começo Hero */

.hero {
  background-color: #005aaa;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.titleHero {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
}

.textHero {
  color: #fff;
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 1.3rem;
}

.containerButtonHero {
  text-align: center;
  margin-top: 2rem;
}

.containerButtonHero button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #FDFF04;
  color: #000000;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #005aaa;
  transition: 0.3s;
  font-size: 1.1rem;
}

.containerButtonHero button:hover {
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.333);
}

.containerTextHero {
  width: 50%;
}

.containerImageHero {
  width: 50%;
  text-align: center;
}

.containerImageHero img {
  height: 30rem;
}

@media only screen and (max-width: 1300px) {
  .containerImageHero img {
    height: 20rem;
  }
}

@media only screen and (max-width: 900px) {
  .titleHero {
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
  }

  .textHero {
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 1.3rem;
  }

  .hero {
    flex-direction: column;
  }

  .containerTextHero {
    width: 100%;
  }

  .containerImageHero {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .containerImageHero img {
    height: 15rem;
  }
}

/*! Fim Hero  */

/** Começo clientes */
.clientes {
  padding-top: 4rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.titleClientes {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #005aaa;
}

.containerMarquee {
  margin-top: 2rem;
}

.card {
  text-align: center;
}

.textClientes {
  width: 50%;
  margin: auto;
  padding-top: 2rem;
}

.textClientes p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.textClientes ul {
  font-size: 1.1rem;
  list-style: none;
}

.textClientes li::before {
  content: "✔";
  margin-right: 0.3rem;
  color: #20a200;
}

@media only screen and (max-width: 900px) {
  .textClientes {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
  }

  .textClientes p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: justify;
  }

  .textClientes ul {
    font-size: 1rem;
    list-style: none;
  }
}

/*! Fim clientes  */

/** Começo servicos */

.servicos {
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  overflow-x: hidden;
}

.titleServicos {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #005aaa;
}

.containerServicos {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicos p {
  font-size: 1.3rem;
  font-weight: bold;
}

.servicos ul {
  list-style: none;
  padding: 1rem;
  margin: auto;
}

.servicos li {
  text-align: left;
  font-size: 1.2rem;
}

.servicos li:before {
  content: "✔";
  margin-right: 10px;
}

.vejaServicos {
  margin-top: 1rem;
  color: #005aaa;
  cursor: pointer;
}

/*! Fim servicos  */

.containerMidleButton{
  text-align: center;
}

.containerMidleButton button{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #005aaa;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #005aaa;
  transition: 0.3s;
  font-size: 1.1rem;
}

.containerMidleButton button:hover{
  background-color: #fff;
  color: #005aaa;
}


/** Começo depoimentos  */

.depoimentos{
  padding: 1rem;
  margin-top: 3rem;
  padding-left: 0;
  padding-right: 0;

  margin-bottom: 1rem;


}

.titleDepoimentos{
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #005aaa;
}

.swiper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.DepoCard{
  background: #f7f7f7;
  box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.37);
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  height: 17rem;
}

.authorName{
  font-weight: bold;
}

.depoTop{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-bottom: 1rem;
}

.containerDepoText{
  text-align: justify;
}


@media only screen and (max-width: 900px) {
  .depoTop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  .DepoCard{
    background: #f7f7f7;
    box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    height: 25rem;
  }
}
/*! Fim depoimentos  */

/** Começo Footer  */

footer{
  background-color: #005aaa;
  padding: 2rem;
  overflow-x: hidden;
}

.containerTopFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  gap: 3rem;
}

.containerTopFooter div{
  cursor: pointer;
}

.containerMidleFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  gap: 3rem;
  color: #fff;
 
}

.containerBottomFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  gap: 3rem;
  color: #fff;
  margin-top: 3rem;
}

.telefone{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}

.email{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}

.email img{
  height: 1.5rem;
}

.addres{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}

.addres img{
  height: 1.7rem;
}



.containerMap{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-maps{
  border-radius: 10px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.322);
}

@media only screen and (max-width: 900px) {
  .containerMidleFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    gap: 3rem;
    color: #fff;
   
  }
  
}



/*! Fim Footer  */
