* {
  overflow-x: hidden;
}

.containerIPVA {
  width: 80vw;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.titleIPVA {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #0169c4;
}

.containerIPVA p {
  text-align: justify;
  font-size: 1.3rem;
}

.containerIPVA ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  list-style: none;
  font-weight: bold;
  text-align: justify;
}

.containerIPVA li {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.textLink {
  text-decoration: underline;
}

.titleLink {
  margin-top: 1rem;
}

.containerIPVA a {
  font-size: 1.3rem;
}

@media only screen and (max-width: 900px) {
  .containerIPVA {
    width: 80vw;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}
