.containerPagamento{

    margin-top: 5rem;
    text-align: center;
}

.textPagamento{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.containerPagamento a{
    color: #4c88b9;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: underline;
    
}


.artePagamento{
    margin-top: 2rem;
}

.artePagamento img{
    height: 50rem;
    width: 50rem;
}

@media only screen and (max-width: 900px) {

    .textPagamento{
        font-size: 1.7rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .artePagamento img{
        height: 22rem;
        width: 22rem;
    }
}